# Node.js dependencies
node_modules/

# Gatsby files
.cache/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Test coverage
coverage/

# Environment variables
.env

# Ignore .cache directory
.cache/
